body {
    background-color: #FFFFE4;
    font: 18px "Roboto Light", sans-serif;
    color: #404040;
    margin: 0 auto;
    padding: 0;
}

h1 {
    font: 75px "Roboto Light", sans-serif;
    margin-bottom: 0;
    padding: 0 0 0 0;
    display: inline-block;


}

h2 {
    font: 50px "Roboto Light", sans-serif;
    margin-bottom: 0;
    display: inline-block;

}
h3 {
    font: 30px "Roboto Light", sans-serif;
    margin-bottom: 0;
    display: inline-block;

}
p {
    font: 20px "Roboto Light", sans-serif;
    display: inline-block;
}
main {
    padding: 5% 200px 00px 200px
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: inline;

}
.navbar {
    background-color: #404040;
    overflow: hidden;
}
.navbar ul {
    list-style-type: none;
    padding-left: 0;
}
.navbar a {
    float: left;
    color: white;
    text-align: center;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
    font-size: 17px;}

.navbar a:hover {
    background-color: #FFFFE4;
    color:#78866B;}

.navbar a:active {
    background-color: black;
    color:white;
}

.navbar a.current {
    background-color: #78866B;
    color: #FFFFE4;
}

.brand-logo{
    display: inline;
    float: right;
    width: 4%;
    bottom: 0;
    padding: 0 0 0 0}



.backimage{
    background-image: url("../images/homepage-1.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;
}

